<html>
<head>
<title>Login Page</title>
</head>
<body>

<form action="/validate" method="post">
					<h1><span class="log-in">Log in</span><a href="/store/register">register</a>
					
					<p>
						<label for="login">Username</label>
						<input type="text" name="login" placeholder="Username">
					</p>
					<p>
						<label for="password">Password</label>
						<input type="password" name="password" placeholder="Password" class="showpassword">
					</p>
					
					<p> 
						    
						<input type="submit" name="submit" value="Log in">
						
					</p>
					
				</form>​​


</body>
</html>
