<html>
<head>
<title>
Register User
</title>
</head>
<body>
<form action="/store/register" method="post">
<p>name:<input type="text" name="name" value="enter name" /></p>
<p>password:<input type="password" name="password" value="enter password" /></p>
<p>email:<input type="text" name="email" value="enter email" /></p>

<center><input type="submit" value="Register"></center>
</form>
</body>
</html>